* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #0d0d0d;
    color: white;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #111;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 140px 20px;
    position: relative;
}

.hero h1 {
    font-size: 48px;
}

.hero h2 {
    color: #00ffcc;
    margin-top: 10px;
}

.hero p {
    margin-top: 20px;
    color: #aaa;
    max-width: 700px;
    margin: auto;
}

.buttons {
    margin-top: 30px;
}

.btn-primary {
    background: #00ffcc;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    margin-right: 10px;
}

.btn-secondary {
    border: 1px solid #00ffcc;
    color: #00ffcc;
    padding: 12px 24px;
    text-decoration: none;
}

.glow {
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, #00ffcc, transparent 70%);
    filter: blur(120px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.section {
    padding: 100px 20px;
    text-align: center;
}

.dark-section {
    background: #111;
}

.skills-grid div {
    margin: 20px auto;
    max-width: 800px;
}

.project-card {
    background: #1a1a1a;
    padding: 25px;
    margin: 25px auto;
    max-width: 800px;
    border-radius: 12px;
}

.project-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

footer {
    text-align: center;
    padding: 30px;
    background: #111;
}

@media(max-width:768px) {
    nav ul {
        display: none;
    }
    .hero h1 {
        font-size: 34px;
    }
}